@font-face {
  font-family: 'Gotham';
  src: url('Gotham-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* ------------------ BASE (DESKTOP) ------------------ */
body {
  margin: 0;
  min-height: 100vh;
  padding: 40px;
  background-color: white;
  color: black;
  font-family: "Gotham", sans-serif;
  font-size: 14px;
  line-height: 1.2;
}

.container {
  text-align: left;
  max-width: 600px;
}

/* Primo paragrafo: Nome */
.name {
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-bottom: 1.6em;
}

/* Secondo paragrafo: Ruolo + email */
.role-email {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  margin-bottom: 1.6em;
}

.role-email div {
  white-space: nowrap;
}

/* Terzo paragrafo: CV */
.cv {
  display: none;
  max-width: 600px;
  width: 100%;
  white-space: normal;
  font-size: 14px;
  line-height: 1.2;
}

/* About */
.about {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 14px;
  cursor: pointer;
  font-family: 'Gotham', sans-serif;
}

/* ------------------ MOBILE PORTRAIT ------------------ */
@media (max-width: 767px) and (orientation: portrait) {

  body {
    background-color: white !important;
    padding: 20px 20px 0 20px;
  }

  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 20px 0 20px;
  }

  .name {
    font-size: 15px;
    margin-bottom: 1.6em;
    letter-spacing: 0.5px;
  }

  .role-email div,
  .cv {
    font-size: 14px;
  }

  .cv {
    display: block;
    line-height: 1.4;
    text-align: justify;
    width: 100%;
    max-width: none;
  }

  .about {
    bottom: 20px;
    right: 20px;
    font-size: 14px;
  }
}

/* ------------------ MOBILE LANDSCAPE ------------------ */
@media (max-width: 1024px) and (orientation: landscape) {

  body {
    background-color: white !important;
    padding: 20px 20px 0 20px !important;
  }

  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 20px 0 20px !important;
  }

  .name {
    font-size: 15px;
    letter-spacing: 0.5px !important;
    margin-bottom: 1.6em;
  }

  .role-email div,
  .cv {
    font-size: 14px;
  }

  .cv {
    display: block;
    line-height: 1.4;
    text-align: justify;
    width: 100%;
    max-width: none;
    margin: 0;
  }

  .about {
    bottom: 20px;
    right: 20px;
    font-size: 14px;
  }
}

@media (max-width: 767px) and (orientation: portrait) {
  body {
    background: red !important;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  body {
    background: red !important;
  }
